.followButton {
    font-size: 16;
    width: 100px;
    height: 40px;
    padding: 4px;
    font-weight: 700;
}

.username {
    opacity: 0.5;
}

.about {
    font-size: 22px;
    line-height: 30px;
}
